@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');

*{  /* configuração geral*/
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;   
    
} 

body{
    background-color: #84748d;
    margin: 400px;
    
}
main{

    background-image: linear-gradient(to bottom,  #A3A9F7,#e2b1ced2,#eec0dcc4, #2d253ab7);   
    border-radius: 50px; 
    box-shadow: 5px 5px 20px black;    
    margin: auto;
    padding: 20px;
    text-align: center;
}


article{    
    background-color: white;
   padding:10px;
   margin: 10px;
}

h1{
    color: rgba(128, 0, 128, 0.836); font: normal 4em 'Passions Conflict'; margin: auto;
       
}

h2{
   color: rgba(85, 22, 85, 0.753); 
   
}

h3{
    color: #84748d; 
}

p{
    text-align: justify;
}

div>p{
    display: none; /* faz esconder e aparecer quando passar o mouse*/
}

div{   /*MENU*/
    display: block;
    color: rgba(128, 0, 128, 0.836); font: normal 2em 'Passions Conflict';
    text-align: left;
    width: 2em;
}    

div:hover > p{  /*tudo que esta escondido no <p>*/
    
    display: block;
    background-color: #585a7763;
    color:  rgba(128, 0, 128, 0.836); font: normal 1em 'Passions Conflict';
    text-decoration: underline;      
}

.especial{
   text-decoration: underline;
}

footer{    
    background-color: black;
    color: white;
}









